#mainWindow{
    -fx-padding:20px;
}
.title{
    -fx-font-size: 20px;
    -fx-padding: 10px 0px 10px 0px;
}
.formLabel > Label{
    -fx-padding: 10px;
}
.windowPane > *{
    -fx-padding: 10px 0px 10px 0px;
}
/*.userInputGrid Label{*/
/*    -fx-width:100px;*/
/*}*/
/*.userInputGrid ComboBox{*/
/*    -fx-width:100px;*/
/*}*/